<div class="start-container">
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="this.formGroupStep1" [editable]="false">
      <ng-template matStepLabel>¿Quién eres?</ng-template>
      <form [formGroup]="this.formGroupStep1">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required type="email">
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="nextStep()">Siguiente</button>
      </form>
    </mat-step>

    <mat-step [stepControl]="this.formGroupStep2" [editable]="true">
      <ng-template matStepLabel>Tipo de cliente</ng-template>
      <form [formGroup]="this.formGroupStep2">
        <mat-button-toggle-group formControlName="clientType" required>
          <mat-button-toggle *ngFor="let type of clientTypes" [value]="type">
            <mat-icon>{{ getClientTypeIcon(type) }}</mat-icon>
            {{ type }}
          </mat-button-toggle>
        </mat-button-toggle-group>
        <div>
          <button mat-raised-button color="accent" matStepperNext (click)="nextStep()">Siguiente</button>
        </div>
      </form>
    </mat-step>

    <!-- Paso 3: Detalles específicos del cliente -->
    <mat-step [stepControl]="this.formGroupStep3" [editable]="false">
      <ng-template matStepLabel>Detalles del cliente</ng-template>
      <form [formGroup]="this.formGroupStep3">
        <ng-container [ngSwitch]="this.formGroupStep2.get('clientType')?.value">
          <ng-container *ngSwitchCase="'Otros'">
            <mat-form-field appearance="fill">
              <mat-label>Necesidades específicas</mat-label>
              <textarea matInput formControlName="otherNeeds" rows="4"></textarea>
            </mat-form-field>
          </ng-container>
          <ng-container *ngSwitchCase="'Empresa seguridad'">
            <mat-form-field appearance="fill">
              <mat-label>Nombre de la empresa</mat-label>
              <input matInput formControlName="companyName" required>
            </mat-form-field>
<!--            <p>-->
<!--              <strong>Ubicaciones:</strong> Añade las ubicaciones que quieres dar de alta, puedes crear tantas como necesites..-->
<!--            </p>-->
<!--            <mat-form-field appearance="fill">-->
<!--              <mat-label>Nombre de la ubicación</mat-label>-->
<!--              <input matInput formControlName="locationName">-->
<!--            </mat-form-field>-->
<!--            <mat-form-field appearance="fill">-->
<!--              <mat-label>Dirección</mat-label>-->
<!--              <input matInput formControlName="locationAddress">-->
<!--            </mat-form-field>-->
<!--            <button mat-button (click)="addLocation()">Agregar ubicación</button>-->
<!--            <mat-list>-->
<!--              <mat-list-item *ngFor="let location of locations">-->
<!--                {{ location.locationName }} - {{ location.locationAddress }}-->
<!--              </mat-list-item>-->
<!--            </mat-list>-->
          </ng-container>
          <ng-container *ngSwitchCase="'Empresa de mantenimiento'">
            <mat-label>Nombre de la empresa</mat-label>
            <input matInput formControlName="companyName" required>
          </ng-container>
          <ng-container *ngSwitchCase="'Comunidad de propietarios'">
          </ng-container>
        </ng-container>
        <mat-form-field appearance="fill">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="address" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="warn" matStepperPrevious (click)="previousStep()">Atrás</button>
          <button mat-raised-button color="accent" matStepperNext (click)="nextStep()">Siguiente</button>
        </div>
      </form>
    </mat-step>

    <!-- Paso 4: Quién realizará las rondas -->
    <mat-step [stepControl]="this.formGroupStep4" [editable]="false">
      <ng-template matStepLabel>Personal que realizará las rondas</ng-template>
      <p>
        Puedes dar de alta a los controladores que realizarán las rondas en tu empresa o comunidad.<br/>
        También podrás hacerlo más adelante, pero es necesario al menos un controlador para continuar.
      </p>

      <form [formGroup]="this.formPatroller">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
          <mat-hint align="start">Si tenemos el email le podremos mandar directamente las instrucciones y sus códigos de identificación. </mat-hint>

        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addPatroller()">Agregar personal</button>
        <mat-table [dataSource]="patrollers">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let patroller"> {{patroller.name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let patroller"> {{patroller.email}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="['name', 'email']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['name', 'email'];"></mat-row>
        </mat-table>
        <div>
          <button mat-raised-button color="accent" matStepperNext (click)="nextStep()">Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="this.formGroupStep5">
      <ng-template matStepLabel>Ubicaciones a vigilar</ng-template>
      <p>
        Estos son los puntos que tus controladores deberán escanear durante sus rondas.<br/>
        Puedes añadir tantos puntos como necesites, y asignarles etiquetas para su identificación.
      </p>
      <p>
        Los códigos QR se generarán automáticamente para cada punto, y podrás descargarlos e imprimirlos para su instalación. Los recibirás en tu email y también podrás descargarlos desde el dashboard.
      </p>
      <form [formGroup]="this.formCheckpoint">
        <mat-form-field appearance="fill">
          <mat-label>Nombre del punto</mat-label>
          <input matInput formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Categoría</mat-label>
          <mat-select formControlName="category" required>
            <mat-option value="room">Sala</mat-option>
            <mat-option value="hall">Pasillo</mat-option>
            <mat-option value="machine">Maquinaria</mat-option>
            <mat-option value="others">Otros</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Etiquetas</mat-label>
          <mat-chip-grid #chipGrid>
            <mat-chip-row *ngFor="let tag of checkpointTags"
                          (removed)="removeTag(tag)"
                          [editable]="true"
                          [removable]="true">
              {{tag}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input placeholder="Nueva etiqueta..."
                   [matChipInputFor]="chipGrid"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="addTag($event)">
          </mat-chip-grid>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addQRPoint()">Agregar punto QR</button>
        <mat-table [dataSource]="checkpoints">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let point"> {{point.name}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="category">
            <mat-header-cell *matHeaderCellDef> Categoría </mat-header-cell>
            <mat-cell *matCellDef="let point"> {{point.category}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="tags">
            <mat-header-cell *matHeaderCellDef> Etiquetas </mat-header-cell>
            <mat-cell *matCellDef="let point"> {{point.tags.join(', ')}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="['name', 'category', 'tags']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['name', 'category', 'tags'];"></mat-row>
        </mat-table>
        <div>
          <button mat-raised-button color="warn" matStepperPrevious (click)="previousStep()">Atrás</button>
          <button mat-raised-button color="accent" matStepperNext (click)="finishSetup()">Finalizar y acceder al dashboard</button>
        </div>
      </form>
    </mat-step>

<!--    &lt;!&ndash; Paso 6: Instrucciones de instalación &ndash;&gt;-->
<!--    <mat-step>-->
<!--      <ng-template matStepLabel>Instrucciones de instalación</ng-template>-->
<!--      <div class="installation-instructions">-->
<!--        <h3>Cómo instalar los códigos QR</h3>-->
<!--        <ol>-->
<!--          <li>Imprima los códigos QR generados en el paso anterior.</li>-->
<!--          <li>Recorte cada código QR individualmente.</li>-->
<!--          <li>Recomendamos plastificar los códigos QR para protegerlos de la intemperie y el desgaste.</li>-->
<!--          <li>Limpie la superficie donde va a colocar el código QR.</li>-->
<!--          <li>Pegue el código QR en la ubicación correspondiente utilizando cinta adhesiva de doble cara o un adhesivo fuerte.</li>-->
<!--          <li>Asegúrese de que el código QR esté bien visible y accesible para su escaneo.</li>-->
<!--        </ol>-->
<!--        <img src="assets/qr-installation.jpg" alt="Ejemplo de instalación de código QR" class="installation-image">-->
<!--        <p>Recuerde colocar los códigos QR a una altura cómoda para su escaneo, generalmente entre 1.2 y 1.5 metros del suelo.</p>-->
<!--      </div>-->
<!--      <div>-->
<!--        <button mat-button matStepperPrevious (click)="previousStep()">Atrás</button>-->
<!--        <button mat-button matStepperNext (click)="nextStep()">Siguiente</button>-->
<!--      </div>-->
<!--    </mat-step>-->

<!--    &lt;!&ndash; Paso 7: Instrucciones de la aplicación de control &ndash;&gt;-->
<!--    <mat-step>-->
<!--      <ng-template matStepLabel>Aplicación de control</ng-template>-->
<!--      <div class="control-app-instructions">-->
<!--        <h3>Descarga e instrucciones de la aplicación de control</h3>-->
<!--        <p>Para completar la configuración, descargue nuestra aplicación de control en los dispositivos de sus controladores:</p>-->
<!--        <div class="app-download-buttons">-->
<!--          <a href="#" class="app-button">-->
<!--            <img src="assets/google-play-badge.png" alt="Descargar en Google Play">-->
<!--          </a>-->
<!--          <a href="#" class="app-button">-->
<!--            <img src="assets/app-store-badge.png" alt="Descargar en App Store">-->
<!--          </a>-->
<!--        </div>-->
<!--        <h4>Cómo funciona la aplicación:</h4>-->
<!--        <video controls class="app-demo-video">-->
<!--          <source src="assets/app-demo.mp4" type="video/mp4">-->
<!--          Su navegador no soporta el tag de video.-->
<!--        </video>-->
<!--        <button mat-raised-button color="primary" (click)="sendInstructionsToPatrollers()">-->
<!--          Enviar instrucciones a los controladores-->
<!--        </button>-->
<!--      </div>-->
<!--      <div>-->
<!--        <button mat-button matStepperPrevious (click)="previousStep()">Atrás</button>-->
<!--        <button mat-raised-button color="accent" (click)="finishSetup()">Finalizar y acceder al dashboard</button>-->
<!--      </div>-->
<!--    </mat-step>-->
  </mat-vertical-stepper>
</div>
