<h2>Recuperar contraseña</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required>
    <mat-error *ngIf="form.get('email')?.hasError('required')">
      Email es requerido
    </mat-error>
    <mat-error *ngIf="form.get('email')?.hasError('email')">
      Email no válido
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">
    Enviar contraseña
  </button>
</form>
<a routerLink="/login">Volver al inicio de sesión</a>
