<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Checkpoint </th>
    <td mat-cell *matCellDef="let element" class="truncate-cell">
      <span class="truncate-text" [attr.title]="element.checkpointName">
        {{element.checkpointName}}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="patroller">
    <th mat-header-cell *matHeaderCellDef> Patroller </th>
    <td mat-cell *matCellDef="let element"> {{element.patrollerName}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element">{{ element.timestamp | date }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="3">No recent scans</td>
  </tr>
</table>
