@import "variables";

.devices-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-bottom: 4rem;
}

mat-card {
  height: 100%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  mat-card-header {
    margin-bottom: 1rem;
  }

  mat-icon {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    color: $primary-color;
  }

  mat-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary-color;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.app-demo-video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
