<div class="page-container">
  <div class="card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Escáner de Códigos QR</mat-card-title>
      </mat-card-header>
      <mat-card-content [ngClass]="{'camera': permissionsGranted}">
        <ng-container *ngIf="!permissionsGranted; else scannerContent">
          <p>Se requieren permisos de cámara y ubicación para usar el escáner.</p>
          <button mat-raised-button color="primary" (click)="requestPermissions()">
            Solicitar permisos
          </button>
        </ng-container>
        <ng-template #scannerContent>
          <app-qr-scanner></app-qr-scanner>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
